nav{
    background: rgb(13,9,54);
    background: linear-gradient(90deg, rgb(13,9,54,1) 0%, rgb(4,9,34,1) 37%, rgb(7,38,182,1) 100%);
}

.card{
    background: rgb(13,9,54);
    background: linear-gradient(90deg, rgb(13,9,54,1) 0%, rgb(4,9,34,1) 37%, rgb(7,38,182,1) 100%);
    opacity: 0.8;
    border-radius: 20px 20px 20px 20px;
}


#idcard{
    background: rgb(13,9,54);
    background: linear-gradient(90deg, rgb(13,9,54,1) 0%, rgb(4,9,34,1) 37%, rgb(7,38,182,1) 100%);
    border-radius: 20px 20px 20px 20px;
}

#idheader{
    background-color: white;
    font-family: NewFont;
    color: black;
}

.card:hover{
    opacity: 1;
    transition: 0.2s;
}

.card-header{
    background-color: white;
    font-family: NewFont;
    opacity: 1;
    color: black;
}

.card-title, p, h4, footer{
    color: white;
    font-family: NewFont;
}

.carousel-item{
    transition: 0.2s;
    transition-delay: 0.2;
}

body{
    background-image: url("fundoback.jpg");
    background-size: cover;
}

@font-face {
    font-family: NewFont;
    src: url('newFont.ttf');
    font-size: 45px;
    font-weight: 200px;
}
